body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

button {
    background-color: #0074cc;
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    font-size: large;
}

button:hover {
    background-color: #005aa3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
